check1.txt
[{"id":"529d5327.592d0c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"23677dc8.1232e2","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"456049c9.a24688","type":"rpi-gpio in","z":"529d5327.592d0c","name":"Button","pin":"11","intype":"up","debounce":"25","read":true,"x":70,"y":220,"wires":[["8c6a2b13.f13b78","1a731f5a.14b9b1"]]},{"id":"b4c6498f.5fa628","type":"rpi-gpio out","z":"529d5327.592d0c","name":"led","pin":"7","set":true,"level":"0","freq":"","out":"out","x":610,"y":300,"wires":[]},{"id":"8c6a2b13.f13b78","type":"debug","z":"529d5327.592d0c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":220,"wires":[]},{"id":"1a731f5a.14b9b1","type":"switch","z":"529d5327.592d0c","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":300,"wires":[["3650ff50.cd5e6"],["eab3b5af.be9ee8"]]},{"id":"eab3b5af.be9ee8","type":"change","z":"529d5327.592d0c","name":"change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":320,"wires":[["b4c6498f.5fa628"]]},{"id":"3650ff50.cd5e6","type":"change","z":"529d5327.592d0c","name":"change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":280,"wires":[["b4c6498f.5fa628"]]},{"id":"dd15c351.dd4a1","type":"function","z":"23677dc8.1232e2","name":"payload","func":"msg.headers={\n    'deviceKey': \"50uZCdjAkpPzdtzB\"\n    };\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":200,"wires":[["ed2ab480.aaa588","b666f077.b1c6a"]]},{"id":"475b41a.18e93c","type":"http response","z":"23677dc8.1232e2","name":"","statusCode":"","headers":{},"x":610,"y":180,"wires":[]},{"id":"b666f077.b1c6a","type":"http request","z":"23677dc8.1232e2","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DcLL2siO/datachannels/TT/datapoints.csv","tls":"","x":430,"y":180,"wires":[["475b41a.18e93c","8a7b9f25.bbbae"]]},{"id":"8a7b9f25.bbbae","type":"debug","z":"23677dc8.1232e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":220,"wires":[]},{"id":"b25c97f7.7e3e08","type":"inject","z":"23677dc8.1232e2","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":180,"wires":[["dd15c351.dd4a1"]]},{"id":"ed2ab480.aaa588","type":"http request","z":"23677dc8.1232e2","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DcLL2siO/datachannels/HH/datapoints.csv","tls":"","x":430,"y":240,"wires":[["b9d3fa6c.d9e888","9d1b797.a911688"]]},{"id":"b9d3fa6c.d9e888","type":"http response","z":"23677dc8.1232e2","name":"","statusCode":"","headers":{},"x":610,"y":260,"wires":[]},{"id":"9d1b797.a911688","type":"debug","z":"23677dc8.1232e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":300,"wires":[]}]