check3.txt
[{"id":"23677dc8.1232e2","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"a69702dc.ebfe3","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"529d5327.592d0c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"864b81cc.49e7b","type":"inject","z":"529d5327.592d0c","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":200,"wires":[["82bbbf9.2021c4"]]},{"id":"82bbbf9.2021c4","type":"function","z":"529d5327.592d0c","name":"payload","func":"msg.headers={\n    'deviceKey':\"50uZCdjAkpPzdtzB\"\n};\nmsg.payload = \"TT,HH,25.3,\";\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":200,"wires":[["b12fef9f.8bf81"]]},{"id":"87d3020e.d1e7e","type":"http response","z":"529d5327.592d0c","name":"","statusCode":"","headers":{},"x":590,"y":200,"wires":[]},{"id":"b12fef9f.8bf81","type":"http request","z":"529d5327.592d0c","name":"","method":"POST","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DcLL2siO/datapoints.csv","tls":"","x":430,"y":200,"wires":[["87d3020e.d1e7e","bf98eb0e.5e0698"]]},{"id":"bf98eb0e.5e0698","type":"debug","z":"529d5327.592d0c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":260,"wires":[]}]