check2.txt
[{"id":"23677dc8.1232e2","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"a69702dc.ebfe3","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"529d5327.592d0c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"864b81cc.49e7b","type":"inject","z":"529d5327.592d0c","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":200,"wires":[["82bbbf9.2021c4"]]},{"id":"82bbbf9.2021c4","type":"function","z":"529d5327.592d0c","name":"payload","func":"msg.headers={\n    'deviceKey':\"50uZCdjAkpPzdtzB\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":200,"wires":[["b12fef9f.8bf81","504bb96b.7f5608"]]},{"id":"87d3020e.d1e7e","type":"http response","z":"529d5327.592d0c","name":"","statusCode":"","headers":{},"x":590,"y":200,"wires":[]},{"id":"b12fef9f.8bf81","type":"http request","z":"529d5327.592d0c","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DcLL2siO/datachannels/TT/datapoints.csv","tls":"","x":430,"y":200,"wires":[["87d3020e.d1e7e","bf98eb0e.5e0698"]]},{"id":"bf98eb0e.5e0698","type":"debug","z":"529d5327.592d0c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":260,"wires":[]},{"id":"13ecd50a.cf24cb","type":"http response","z":"529d5327.592d0c","name":"","statusCode":"","headers":{},"x":590,"y":320,"wires":[]},{"id":"504bb96b.7f5608","type":"http request","z":"529d5327.592d0c","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DcLL2siO/datachannels/HH/datapoints.csv","tls":"","x":430,"y":320,"wires":[["13ecd50a.cf24cb","6d9ca2df.1f5dac"]]},{"id":"6d9ca2df.1f5dac","type":"debug","z":"529d5327.592d0c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":380,"wires":[]}]